<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Home</title>
</head>
<body>
    <div th:include="common/header::header"/>
    <ul>
        <li>Go to the <a th:href="@{/user/list}">User List</a></li>
        <li>Go to the <a th:href="@{/role/list}">Role List</a></li>
        <li>Go to the <a th:href="@{/module/list}">Module List</a></li>
    </ul>
</body>
</html>