<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="module">
    <resultMap id="ModuleMap" type="com.oh.bean.Module">
        <id column="id" jdbcType="BIGINT" property="id" />
        <id column="cn_name" jdbcType="VARCHAR" property="cnName" />
        <id column="en_name" jdbcType="VARCHAR" property="enName" />
        <id column="url" jdbcType="VARCHAR" property="url" />
        <id column="url_enabled" jdbcType="TINYINT" property="urlEnabled" />
    </resultMap>

    <sql id="Base_Column_List">
        id, cn_name, en_name, url, url_enabled
    </sql>

    <select id="queryModule" resultMap="ModuleMap">
        select
        <include refid="Base_Column_List" />
        from module
        <where>
            <if test="module.id != null and id > 0">
                id = #{module.id,jdbcType=BIGINT}
            </if>
            <if test="module.cnName != null">
                 and cn_name = #{module.cnName,jdbcType=VARCHAR}
            </if>
            <if test="module.enName != null">
                 and en_name = #{module.enName,jdbcType=VARCHAR}
            </if>
            <if test="module.url != null">
                 and url = #{module.url,jdbcType=VARCHAR}
            </if>
            <if test="module.urlEnabled">
                 and url_enabled = #{module.urlEnabled,jdbcType=TINYINT}
            </if>
        </where>
        <if test="start != null and limit != null">
            limit #{start}, #{limit}
        </if>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from module
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="batchDeleteModule" parameterType="int">
        delete from module where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.oh.bean.Module">
        insert into module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cnName != null">
                cn_name,
            </if>
            <if test="enName != null">
                en_name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="urlEnabled">
                url_enabled
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cnName != null">
                #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="enName != null">
                #{enName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="urlEnabled">
                #{urlEnabled,jdbcType=TINYINT}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.oh.bean.Module">
        update module
        <set>
            <if test="cnName != null">
                cn_name = #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="enName != null">
                en_name = #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="urlEnabled != null">
                url_enabled = #{urlEnabled,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>