<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Module List</title>
</head>
<body>
    <h1>Module List</h1>
    <div>
         <a th:href="@{/module/add}">Add Module</a> &nbsp;
    </div>
    <div>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>CN Name</td>
                <td>EN Name</td>
                <td>URL</td>
                <td>Enabled</td>
                <td>Created Date</td>
                <td>Created By</td>
                <td>Updated Date</td>
                <td>Updated By</td>
            </tr>
            <tr th:each="module, iterStat : ${modules}">
                <td><a th:href="@{/module/view(id=${module.id})}" th:text="${module.id}"></a></td>
                <td th:text="${module.cnName}"></td>
                <td th:text="${module.enName}"></td>
                <td th:text="${module.url}"></td>
                <td th:text="${module.urlEnabled}"></td>
                <td th:text="${module.createdDate}"></td>
                <td th:text="${module.createdBy}"></td>
                <td th:text="${module.updatedDate}"></td>
                <td th:text="${module.updatedBy}"></td>
            </tr>
        </table>
    </div>
</body>
</html>