<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<!-- static resources,need't permissions  -->
	<http pattern="/resources/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/images/**" security="none" />
<!-- 	<http pattern="/" security="none" /> -->
<!-- 	<http pattern="/index" security="none" /> -->
<!-- 	<http pattern="/login/index" security="none" /> -->
<!-- 	<http pattern="/login" security="none" /> -->
<!-- 	<http pattern="/logout" security="none" /> -->
	<http pattern="/login/denied" security="none" />
	<http pattern="/favicon.ico" security="none" />

	<http access-decision-manager-ref="myAccessDecisionManager"
		use-expressions="true" auto-config="false">
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<form-login login-page="/login/index" default-target-url="/index"
			username-parameter="email" password-parameter="password"
			authentication-failure-url="/login/index?error=true"/>
		<logout logout-url="/logout" delete-cookies="JSESSIONID"
			invalidate-session="true" logout-success-url="/login/index?logout" />
		<csrf/>
		<access-denied-handler error-page="/login/denied" />
		<custom-filter ref="filterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />
	</http>
	
	<beans:bean id="userDetailService" class="com.oh.security.UserDetailService" />
	<beans:bean id="myAccessDecisionManager" class="com.oh.security.MyAccessDecisionManager"/>
	
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailService">
			<password-encoder hash="sha" />
		</authentication-provider>
	</authentication-manager>


	<beans:bean id="filterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="accessDecisionManager" ref="myAccessDecisionManager" />
		<beans:property name="securityMetadataSource" ref="mySecurityMetadataSource" />
<!-- 		<beans:property name="rejectPublicInvocations" value="true"/> -->
	</beans:bean>
	<!-- CSRF protection. Here we only include the CsrfFilter instead of all 
		of Spring Security. See http://docs.spring.io/spring-security/site/docs/3.2.x/reference/htmlsingle/#csrf 
		for more information on Spring Security's CSRF protection -->
	<beans:bean id="csrfFilter"
		class="org.springframework.security.web.csrf.CsrfFilter">
		<beans:constructor-arg>
			<beans:bean	class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">
			    <beans:property name="headerName" value="X-SECURITY"></beans:property>
			</beans:bean>
		</beans:constructor-arg>
	</beans:bean>

	<!-- Provides automatic CSRF token inclusion when using Spring MVC Form 
		tags or Thymeleaf. -->
	<beans:bean id="requestDataValueProcessor"
		class="org.springframework.security.web.servlet.support.csrf.CsrfRequestDataValueProcessor" />
</beans:beans>

